- size ||= 100
- pad ||= false
- label ||= icon.name
- selected_icon ||= nil

%div{data: { code: "#{icon.code}", field: "#{icon.field}" }, style: "width: #{size}px;", class: icon.css_classes(selected_icon)}
  - if label.present?
    .name{style: "font-size: #{size*0.21}px;"}= label
  - unrendered = @svg_ids.add?(icon.id)
  - cache([icon.id, unrendered ? "T" : "F"], skip_digest: true) do
    %svg{Icons::Geometry.box_dimension(pad)}
      - if icon.is_illustration?
        %defs
          %linearGradient{id: "shade_L", x1: "0%", y1: "0%", x2: "100%", y2:"0%"}
            %stop{offset:"0%"  , :'stop-color' =>"#bbb"}
            %stop{offset:"100%", :'stop-color' =>"#555"}
          %linearGradient{id: "shade_R", x1: "100%", y1: "0%", x2: "0%", y2:"0%"}
            %stop{offset:"0%"  , :'stop-color' =>"#bbb"}
            %stop{offset:"100%", :'stop-color' =>"#555"}
          %linearGradient{id: "shade_B", x1: "0%", y1: "0%", x2: "0%", y2:"100%"}
            %stop{offset:"0%"  , :'stop-color' =>"#bbb"}
            %stop{offset:"100%", :'stop-color' =>"#555"}
          %linearGradient{id: "shade_F", x1: "0%", y1: "100%", x2: "0%", y2:"0%"}
            %stop{offset:"0%"  , :'stop-color' =>"#bbb"}
            %stop{offset:"100%", :'stop-color' =>"#555"}

      - if unrendered
        %g{id: icon.id}
          - Icons::Geometry.tags_for(icon).each do |tag_attributes|
            = Svg::tag(tag_attributes)
      - else
        %use{'xlink:href' => "##{icon.id}"}

