- size ||= 100
- add_class ||= ''
- no_name ||= false

.svg-icon{data: { code: "#{iconf.code}", field: "#{iconf.field}" }, style: "width: #{size}px;", class: add_class}
  - unless no_name
    .name{style: "font-size: #{size*0.21}px;"}= iconf.name
  - cache(iconf.name, skip_digest: true) do
    %svg{viewBox: "0 0 #{Svgod.box_size} #{Svgod.box_size}"}
      - Svgod.rects_for(iconf).each do |colored_sticker|
        %rect{colored_sticker}
      - iconf.arrows.each do |place|
        %path{Svgod.arrow_on(place)}
