- size ||= 100
- add_class ||= ''
- label ||= icon.name

.svg-icon{data: { code: "#{icon.code}", field: "#{icon.field}" }, style: "width: #{size}px;", class: add_class}
  .name{style: "font-size: #{size*0.21}px;"}= label
  - cache([icon.name, icon.field], skip_digest: true) do
    %svg{viewBox: "0 0 #{Icons::Svg.box_size} #{Icons::Svg.box_size}"}
      - Icons::Svg.rects_for(icon).each do |colored_sticker|
        %rect{colored_sticker}
      - icon.arrows.each do |place|
        %path{Icons::Svg.arrow_on(place)}
