.leftmenu= link_to 'Random Position', "positions/#{Position.random_id}"
= render 'find_by_alg'

.leftmenu{style: 'float: right;'}
  #about-link About…

%hr{style: 'clear:both;'}

.left_side_stats{class: @single_position ? '' : 'positions-stats'}
  %span#headline= @stats.headline
  %table
    - @stats.sections[0].each do |line|
      %tr
        %td= line.label
        %td{class: line.class_name}= line.text
    %tr.spacer
    - @stats.sections[1].each do |line|
      %tr
        %td= line.label
        %td{class: line.class_name}= line.text
  - if @stats.link_section
    .spacer
    - @stats.link_section.each do |link|
      .link= link

%div{style: 'position: fixed; bottom:4px; right:4px; font-size: 8px; color: #bbb;'}
  Cache #{number_to_human_size Rails.cache.instance_variable_get('@cache_size')}
  | PID #{Process.pid}

%table.center
  %tr
    - [:COP, :OLL, '', :CO, :CP, :EO, :EP].each do |header|
      %th= header
  %tr#pickers
    = render 'picker_td', prop: :cop, add_class: 'grid-lines'
    = render 'picker_td', prop: :oll, add_class: 'grid-lines'
    %td{style: 'border-right: solid 1px #bbb;'}
    = render 'picker_td', prop: :co
    = render 'picker_td', prop: :cp
    = render 'picker_td', prop: :eo
    = render 'picker_td', prop: :ep,  add_class: 'relative', ubl_text: true

-if @single_position
  .right{style: "width: 180px; position: absolute; top:40px; right:0px;"}
    = render 'cube_icon', icon: Icons::Big.new(@single_position), size: 160, label: '', add_class: 'illustration-llicon'


=form_tag url_for(controller: "positions", action: "index"), method: 'get', id: 'main-form' do
  - Fields::FILTER_NAMES.each do |f|
    =hidden_field_tag(f, @filters[f])
  =hidden_field_tag(:clicked, 'none')

  - unless @single_position
    .center.page-format-header
      Show as
      =Fields::LIST.as_tag(@format)
  - else
    .singlepos-format-header Showing algs for single selected position.
    =hidden_field_tag(Fields::LIST.name, Fields::LIST.value(@format))

  - if @list_algs
    .center.algs-list-header
      Show first
      =Fields::LINES.as_tag(@format)
      algs

      .right
        Sort by
        =Fields::SORTBY.as_tag(@format)

- flags = @list_algs ? -> (alg) do {shortest: alg.length == @stats.data.shortest, fastest: alg.speed == @stats.data.fastest} end : -> (pos) do {} end
%table{class: @list_algs ? 'algs-list' : 'positions-list'}
  - @columns.each do |column|
    %th= column.header
  - @list_items.each do |item|
    %tr
      - @columns.each do |column|
        - if column.is_svg
          %td= render 'cube_icon', column.svg_config.call(item)
        -else
          =column.td(item, flags.call(item))

#show-alg{style: 'height:200px; width:200px;'}
#about-box
  %p This site aims to contain all knowledge of algorithms and positions for the last layer of Rubik's Cube, and present it in simple and useful ways. That will take a while.
  %p For now is has all algs up to 15 moves (1.69 million), and some basic features. More to come.
  %p Written by Lars Petrus 2015.

:javascript
  $('.ui-llicon, .random, .unselect').on('click', function() {
    var field = $(this).data('field');

    $(field).val($(this).data('code'));
    $('#clicked').val(field);
    $('form#main-form').submit();
  });

  $("#{Fields::FORMATS.map{|f| f.as_css_id}.join(', ')}").change(function() {
    $('form#main-form').submit();
  });

- if Rails.env == 'production'
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1030049-2', 'auto');
    ga('send', 'pageview');
