:javascript
  history.replaceState('', '', '#{@bookmark_url}');

%nav.leftbar
  .leftitem.clickable= link_to 'Random Position', "positions/#{Position.random_id(@position_set)}"
  .leftitem
    =render 'find_by_alg'
  .leftitem.clickable#about-link About…
  .leftitem.clickable
    %label
      = check_box_tag(:zbll, 1, @position_set == 'eo')
      Lock EO (ZBLL)
  .leftitem
    %span{ class: "list-size"}
      = select_tag(:'list-size', options_for_select([['Small Text', 's'], ['Medium Text', 'm'], ['Large Text', 'l']], @text_size), class: 'list-size__select')
  - if PositionsController::PREFS.use_combo_set
    .leftitem
      %span{ class: "list-size"}
        =Fields::ALGSET.as_tag(@list_format, class: 'list-size__select', form: 'main-form')
  .leftitem.clickable= link_to 'FMC Nissualizer', "fmc?example=1"

.rightbar
  -if @only_position
    = render 'cube_icon', icon: Icons::Big.new(@only_position), pad: true, label: '', add_class: 'pretty-icon'
  .stats-box{class: @only_position ? '' : 'positions-stats'}
    %span#headline= @stats.headline
    - if @only_position
      %span#headline_prot
    %table
      - @stats.sections[0].each do |line|
        %tr
          %td= line.label
          %td{class: line.class_name}= line.text
      %tr.spacer
      - @stats.sections[1].each do |line|
        %tr
          %td= line.label
          %td{class: line.class_name}= line.text
    - if @stats.link_section
      .spacer
      - @stats.link_section.each do |link_line|
        %div
          = link_line[:label]
          - link_line[:links].each do |one_link|
            .link= one_link
    -if @setup_alg
      .spacer
      .setupalg
        Setup:
        %span
          = @setup_alg

%table.center
  %tr
    - [:COP, :OLL, '', :CO, :CP, :EO, :EP].each do |header|
      %th= header
  %tr#pickers
    = render 'picker_td', prop: :cop, add_class: 'grid-lines'
    = render 'picker_td', prop: :oll, add_class: 'grid-lines', message: @position_set == 'eo' ? 'Locked to oriented edges.' : nil
    %td{style: 'border-right: solid 1px #bbb;'}
    = render 'picker_td', prop: :co
    = render 'picker_td', prop: :cp
    = render 'picker_td', prop: :eo
    = render 'picker_td', prop: :ep,  add_class: 'relative', message: 'Images assume the darker corner is placed correctly.'
.rotation-ui
  %h1
    %span rotate
  .buttons
    %a{class: 'show-pig', onclick: "rotate_page(1);"} U
    %a{class: 'show-pig', onclick: "rotate_page(2);"} U2
    %a{class: 'show-pig', onclick: "rotate_page(-1);"} U'
  .shortcuts
    shortcuts: , . /


=form_tag url_for(controller: "positions", action: "index"), method: 'get', id: 'main-form', enforce_utf8: false do
  =hidden_field_tag(:pos, @filters.pos_code)
  =hidden_field_tag(:poschange)
  =hidden_field_tag(:udf)

  .page-controls
    - unless @only_position
      .center.page-format-header
        Show as
        =Fields::LIST.as_tag(@list_format)
    - else
      =hidden_field_tag(Fields::LIST.name, Fields::LIST.value(@list_format))

  - if @algs_mode
    .center.algs-list-header
      Show first
      =Fields::LINES.as_tag(@list_format)
      algs

      .right
        Sort by
        =Fields::SORTBY.as_tag(@list_format)

- context = @algs_mode ?  {stats: @stats.data, selected_pos_ids: @position_ids} : {selected_pos_ids: @position_ids}
%table{class: @list_classes}
  - @columns.each do |column|
    %th= column.header
  - @list_items.each do |item|
    - line_presenter = item.presenter(context)
    %tr{class: item.matches(@hi_lite) ? 'hilite' : ''}
      - @columns.each do |column|
        - if column.is_svg
          - svg_params = column.svg_params(line_presenter)
          - if svg_params
            %td= render 'cube_icon', svg_params
          - else
            %td
        -else
          =column.cell(line_presenter)
  -if @clipped
    %tfoot
      %tr
        %td{colspan: 99}
          showing #{@clipped[:shown]} of #{@clipped[:total]} positions

#show-alg{style: 'height:200px; width:200px;'}
#about-box
  %p Birdflu aims to contain all knowledge of algorithms and positions for the last layer of Rubik's Cube, and present it in simple and useful ways. That will take a while.
  %p For now is has all algs up to 17 moves (43 million), and some basic features. More to come.
  %p
  %p Hand crafted by Lars Petrus in Oakland 2015-16.
  %p
    Big thanks to
    = link_to("Tom Rokicki", "http://tomas.rokicki.com/")
    for generating the algs!
  %hr
  %p "Birdflu" is the shortest English word containing the basic moves BDFLRU.

:javascript
  $('.pick-icon, .random, .unselect').on('click', function() {
    $('#poschange').val($(this).data('field').replace('#','') + '-' + $(this).data('code'));
    send_form(false);
  });

  $('#{Fields::JQ_SELECTOR}').change(function() {
    $('#poschange').prop('disabled', true);
    send_form(true);
  });

  $('.js-goto-post').on('click', function(e) {
    window.location.href = '/positions/' + $(event.target).text() + '?hl_name=' + $(event.target).text();
  });

  function send_form(new_prefs) {
    var all_defaults = true;
    var field_defaults = #{Fields::JS_DEFAULTS};

    for (var prop in field_defaults) {
      var elm = $('#'+prop)
      if (elm.val() === field_defaults[prop]) {
        elm.prop('disabled', true);
      } else {
        if (elm.val()) {
          all_defaults = false
        }
      }
    }

    if (!(new_prefs && all_defaults)) {
      $('#udf').prop('disabled', true); // Posted (only) when the user has *chosen* all default values
    }

    $('form#main-form').submit();
  }
  // --- SVG ROTATION SECTION ---

  var ALG_TEXT_SELECT = 'td.js-alg, td.js-combo span, .setupalg span';

  var U_TRANSPOSITIONS = {
     1: { R: 'F', F: 'L', L: 'B', B: 'R' },
     2: { R: 'L', F: 'B', L: 'R', B: 'F' },
     3: { R: 'B', F: 'R', L: 'F', B: 'L' },
  }

  function rotate_all_algs(rotation) {
    var diff = (rotation + 4) % 4;
    if (diff > 0) {
      var u_transposition = U_TRANSPOSITIONS[diff];
      $(ALG_TEXT_SELECT).text(function(i, current_text){
        result = '';
        for (var i = 0, len = current_text.length; i < len; i++) {
          result += u_transposition[current_text[i]] || current_text[i];
        }
        return result;
      });
    }
  }

  function spin_svgs(diff, progress) {
    $('svg g').attr("transform", "rotate(" + (page_rotation*90 + diff*90*progress) + ", 50, 50)");
  }

  function adjust_pos_name() {
    $('#headline_prot').text(['', '+U', '+U2', "+U'"][page_rotation]);
  }

  var page_rotation = #{@page_rotation}; // Global state
  if (page_rotation > 0) {
    adjust_pos_name();
    spin_svgs(0, 0);
    rotate_all_algs(page_rotation);
  };

  function adjust_url() {
    var old_url = window.location.search;
    var new_prot = 'prot=' + page_rotation;
    if (old_url.indexOf('prot') != -1) {
      history.replaceState('', '', old_url.replace(/prot=./, new_prot));
    } else {
      var sep = old_url.indexOf('?') == -1 ? '?' : '&';
      history.replaceState('', '', old_url + sep + new_prot);
    }
  }

  function rotate_page(diff) {
    var algs_rotated = false;
    $('body').animate({ dummyAttr: '20px' },
      {
        duration:400,
        progress: function(animation, progress) {
          spin_svgs(diff, progress);

          var gray = Math.floor(400.0 * (0.5 - Math.abs(progress - 0.5)));
          $(ALG_TEXT_SELECT).attr("style", "color: rgb("+gray+","+gray+","+gray+");");

          if (progress > 0.5 && !algs_rotated) {
            rotate_all_algs(diff);
            algs_rotated = true;
          }
        },
        complete: function() {
          page_rotation = (page_rotation + diff + 4) % 4;
          adjust_url();
          adjust_pos_name();
          $(ALG_TEXT_SELECT).removeAttr("style");
        }
      }
    );
  }

  $(document).on('keypress', function(event) {
    if (event.keyCode === 44) { rotate_page(-1); } // comma = 44
    if (event.keyCode === 46) { rotate_page(+1); } // period = 46
    if (event.keyCode === 47) { rotate_page(+2); } // slash = 47
  });

  $('#zbll').on('click', function() {
    var addon = '';
    if ($(this).is(":checked")) {
      Cookies.set('zbll', 'Yep', { expires: 3650 });
      addon = '&poschange=eo-4'
    } else {
      Cookies.remove('zbll')
    }
    window.location = window.location.search + addon;
  });

  $('#list-size').on('change', function() {
    Cookies.set('size',$(this).val() , { expires: 3650 });
    window.location = window.location.search;
  });

- if Rails.env.production?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1030049-2', 'auto');
    ga('send', 'pageview');
