.leftmenu= link_to 'Random Position', "positions/#{Position.random_id}"
= render 'find_by_alg'

%hr{style: 'clear:both;'}

.left_side_stats
  %span#rubric
    #{@aggregate_stats.position_count} positions
  %table
    %tr
      %td Shortest
      %td.optimal= @aggregate_stats.shortest
    %tr{style: "border-bottom: 10px solid #fff;"}
      %td Fastest
      %td.optimal= '%.2f' % @aggregate_stats.fastest
    - @aggregate_stats.raw_counts.keys.sort.each do |length|
      %tr
        %td #{length} moves
        %td= pluralize(@aggregate_stats.raw_counts[length], 'alg')

%div{style: 'position: absolute; top:4px; right:4px; font-size: 8px; color: #888;'}
  Cache #{number_to_human_size Rails.cache.instance_variable_get('@cache_size')}

%table.center
  %tr
    %th COP
    %th EO
    %th EP
    %th OLL
  %tr#pickers
    %td
      #cop-selected= render 'svg_cube', iconf: @active_icons[:cop], size: 44, add_class: 'selected'
      #cop-picker
        .picker_buttons
          %a{class: "random knapp knapp-enabled",   data: {field: '#cop', code: 'random'}} Random
          %a{class: "unselect knapp knapp-enabled", data: {field: '#cop', code: ''}} Unselect
        %table.icon-grid
          - @icon_grids[:cop].each do |cop_row|
            %tr
              - cop_row.each do |cop|
                %td.icon-grid
                  = render 'svg_cube', iconf: cop, size: 44, add_class: cop.highlight(@filters[:cop]) if cop
    %td
      #eo-selected= render 'svg_cube', iconf: @active_icons[:eo], size: 44, add_class: 'selected'
      #eo-picker
        .picker_buttons
          %a{class: "random knapp knapp-enabled",   data: {field: '#eo', code: 'random'}} Random
          %a{class: "unselect knapp knapp-enabled", data: {field: '#eo', code: ''}} Unselect
        %table.icon-grid-h
          - @icon_grids[:eo].each do |eo_row|
            %tr
              - eo_row.each do |eo|
                %td.icon-grid-h
                  = render 'll_icon', pos: eo, add_class: eo.highlight(@filters[:eo]) if eo
    %td
      #ep-selected= render 'svg_cube', iconf: @active_icons[:ep], size: 44, add_class: 'selected'
      #ep-picker
        .picker_buttons
          %a{class: "random knapp knapp-enabled",   data: {field: '#ep', code: 'random'}} Random
          %a{class: "unselect knapp knapp-enabled", data: {field: '#ep', code: ''}} Unselect
        %table.icon-grid-h.relative
          - @icon_grids[:ep].each do |ep_row|
            %tr
              - ep_row.each do |ep|
                %td.icon-grid-h
                  = render 'svg_cube', iconf: ep, size: 44, add_class: ep.highlight(@filters[:ep]) if ep
          .ubl-text Images assume top left corner (UBL) is placed correctly.
    %td
      #oll-selected= render 'svg_cube', iconf: @active_icons[:oll], size: 44, add_class: 'selected'
      #oll-picker
        .picker_buttons
          %a{class: "random knapp knapp-enabled",   data: {field: '#oll', code: 'random'}} Random
          %a{class: "unselect knapp knapp-enabled", data: {field: '#oll', code: ''}} Unselect
        %table.icon-grid-h
          - @icon_grids[:oll].each do |oll_row|
            %tr
              - oll_row.each do |oll|
                %td.icon-grid-h
                  = render 'll_icon', pos: oll, add_class: oll.highlight(@filters[:oll]) if oll


=form_tag url_for(controller: "positions", action: "index"), method: 'post', id: 'icon-picker' do
  =hidden_field_tag(:cop, @filters[:cop])
  =hidden_field_tag(:eo,  @filters[:eo])
  =hidden_field_tag(:ep,  @filters[:ep])
  =hidden_field_tag(:oll, @filters[:oll])

.center.page-format-header
  =form_tag url_for(controller: "positions", action: "index"), method: 'post', id: 'page_format_form' do
    Show as
    =select_tag("page_format", options_for_select(['positions', 'algs'], selected: @page_format))

- if @page_format == 'algs'

  .center.alg-list-header{style: "border-top: 1px solid #aaa; padding-top: 8px;"}
    =form_tag url_for(controller: "positions", action: "index"), method: 'get', id: 'algs_options' do
      Show first
      =select_tag("page", options_for_select([25, 50, 100, 200, 500], selected: @page))

      =hidden_field_tag(:algtypes, @algtypes)
      only single algs

      .right
        Sort by
        =select_tag("sortby", options_for_select(['speed', ['moves', 'length']], selected: @sortby))


  %table.index.alg-list
    %thead
      =first_2_headers(@sortby)
      %th Name
      %th Position
      %th Alg
      %th
      %th Notes
    - @raw_algs.each do |alg|
      %tr
        =first_2_columns(@sortby, alg, shortest: alg.length == @aggregate_stats.shortest, fastest: alg.speed == @aggregate_stats.fastest)
        %td{class: alg.css_kind}= alg_name_td(alg)
        %td= link_to alg.position.display_name, "/positions/#{alg.position.ll_code}"
        %td= alg.moves
        %td{:'data-us' => alg.setup_moves}
          %a{class: "show-pig"} show
        %td
          = alg.specialness
- else
  %table.index.pos-list
    %th Position
    %th COP
    %th EO
    %th EP
    %th OLL
    %th Solutions
    %th{colspan: 3} Shortest Solution

    - @positions.each do |pos|
      - cache([pos.ll_code, pos.alg_count], skip_digest: true) do
        - best = pos.best_alg || OpenStruct.new
        %tr
          %td= link_to pos.display_name, "/positions/#{pos.ll_code}"
          %td= render 'svg_cube', iconf: Icons::Cop.for(pos), size: 25, label: ''
          %td= render 'svg_cube', iconf: Icons::Eo.for(pos),  size: 25, label: ''
          %td= render 'svg_cube', iconf: Icons::Ep.for(pos),  size: 25, label: ''
          %td= render 'svg_cube', iconf: Icons::Oll.for(pos), size: 25, label: ''
          %td= pos.alg_count
          %td= best.length
          %td= best.moves
          %td{:'data-us' => best.setup_moves}
            %a{href: "#", class: "show-pig"} show

#show-alg{style: 'height:200px; width:200px;'}
%script ROOFPIG_CONF_AD = "solved=U-| hover=3 | speed=600"

:javascript
  // --------- Icon dependencies (quite primitive) ---
  $('.ll-icon, .svg-icon, .random, .unselect').on('click', function() {
    var field = $(this).data('field');
    if (field === '#cop') { $('#eo, #ep').val(''); }
    if (field === '#oll') { $('#cop, #eo, #ep').val(''); }
    $(field).val($(this).data('code'));
    $('form#icon-picker').submit();
  });

  // --------- Open/Close picker dialogs ---
  var mouse_is_inside_picker = '';

  var picker_dialog_props = {
    cop: opts({ width: '390px', title: 'Corner orientation & position (COP)'}),
    eo:  opts({ width: '436px', title: 'Edge orientation (EO)'}),
    ep:  opts({ width: '562px', title: 'Edge position (EP)'}),
    oll: opts({ width: '580px', title: 'Corner and edge orientation (OLL)'}),
  };
  function opts(specifics) {
    var pos = { my: 'center top', at: 'center bottom', of: '#pickers' };
    return $.extend(specifics, {resizable: false, modal: false, draggable: false, position: pos, dialogClass: "picker-dialog"});
  };

  $('#cop-selected, #eo-selected, #ep-selected, #oll-selected').hover(
    function(event){
      var field = event.currentTarget.id.split('-')[0];
      var picker = $('#'+field+'-picker').dialog(picker_dialog_props[field]);
      picker.parent().attr('data-field', field)
    },
    function(event){
      var field = event.currentTarget.id.split('-')[0];
      setTimeout(function(){
        if (mouse_is_inside_picker != field) { $('#'+field+'-picker').dialog('close'); }
      }, 100);
    }
  );

  $(document).on({
    mouseenter: function(event) {
      mouse_is_inside_picker = $(event.currentTarget).attr('data-field')
    },
    mouseleave: function(event) {
      var field = $(event.currentTarget).attr('data-field')
      $('#'+field+'-picker').dialog('close');
      mouse_is_inside_picker = ''
    }
  }, ".picker-dialog");

  // --------- Show Roofpigs ---
  $(document).on('click', '.show-pig', function(e) {
    var td = $(event.target).parent();
    var alg = td.prev().text();
    var title = td.siblings().first().text() + ' shortest';

    CubeAnimation.create_in_dom('#show-alg', 'alg='+alg+'|base=AD|flags=showalg'+td.data("us"), "id=alg-pig class='roofpig rp160'")
    $('#show-alg').dialog({
      width: '200px',
      title: title,
      modal: true,
      closeOnEscape: true,
      dialogClass: 'lars-dialog',
      close: function( event, ui ) {
            var cube_id = $('#show-alg').children().attr('data-cube-id');
            if (cube_id) {
              CubeAnimation.by_id[cube_id].remove();
            }
        }
    });
  });

  // ---- page format form
  $('#page_format').change(function() {
    $('form#page_format_form').submit();
  });

  // ---- alg list form
  $('#page, #sortby, #algtypes').change(function() {
    $('form#algs_options').submit();
  });

