.menurow{style: 'float: right;'}
  - if @login_name
    .menuitem
      #{@login_name}
    .menuitem{style: 'font-size: 60%;'}
      = link_to 'Logout', wca_logout_path
  - else
    .menuitem
      - if Rails.application.secrets.wca_oauth_client_secret
        %a{href: OauthController::WCA_LOGIN_URL}
          Login
      - else
        = link_to 'Fake Login', fake_wca_login_path

%nav.leftbar
  .leftitem.clickable= link_to 'Random Position', "positions/#{Position.random_id(@position_set)}"
  .leftitem.clickable#about-link About…
  .leftitem
    =render 'find_by_alg'
  .leftitem.clickable
    %label
      = check_box_tag(:zbll, 1, @position_set == 'eo')
      Lock EO (ZBLL)


.rightbar
  -if @only_position
    = render 'cube_icon', icon: Icons::Big.new(@only_position), size: 192, pad: true, label: '', add_class: 'illustration-icon'
  .stats-box{class: @only_position ? '' : 'positions-stats'}
    %span#headline= @stats.headline
    - if @only_position
      %span#headline_prot
    %table
      - @stats.sections[0].each do |line|
        %tr
          %td= line.label
          %td{class: line.class_name}= line.text
      %tr.spacer
      - @stats.sections[1].each do |line|
        %tr
          %td= line.label
          %td{class: line.class_name}= line.text
    - if @stats.link_section
      .spacer
      - @stats.link_section.each do |link_line|
        %div
          = link_line[:label]
          - link_line[:links].each do |one_link|
            .link= one_link

%table.center
  %tr
    - [:COP, :OLL, '', :CO, :CP, :EO, :EP].each do |header|
      %th= header
  %tr#pickers
    = render 'picker_td', prop: :cop, add_class: 'grid-lines'
    = render 'picker_td', prop: :oll, add_class: 'grid-lines', message: @position_set == 'eo' ? 'Locked to oriented edges.' : nil
    %td{style: 'border-right: solid 1px #bbb;'}
    = render 'picker_td', prop: :co
    = render 'picker_td', prop: :cp
    = render 'picker_td', prop: :eo
    = render 'picker_td', prop: :ep,  add_class: 'relative', message: 'Images assume the darker corner is placed correctly.'
.rotation-ui
  %h1
    %span rotate
  .buttons
    %a{class: 'show-pig', onclick: "rotate_page(1);"} U
    %a{class: 'show-pig', onclick: "rotate_page(2);"} U2
    %a{class: 'show-pig', onclick: "rotate_page(-1);"} U'
  .shortcuts
    shortcuts: , . /


=form_tag url_for(controller: "positions", action: "index"), method: 'get', id: 'main-form', enforce_utf8: false do
  =hidden_field_tag(:pos, @filters.pos_code)
  =hidden_field_tag(:change)

  .page-controls
    - unless @only_position
      .center.page-format-header
        Show as
        =Fields::LIST.as_tag(@user_prefs)
    - else
      =hidden_field_tag(Fields::LIST.name, Fields::LIST.value(@user_prefs))

  - if @algs_mode
    .center.algs-list-header
      Show first
      =Fields::LINES.as_tag(@user_prefs)
      algs

      .right
        Sort by
        =Fields::SORTBY.as_tag(@user_prefs)

- context = @algs_mode ?  {stats: @stats.data, selected_pos_ids: @position_ids} : {}
%table{class: @algs_mode ? 'algs-list' : 'positions-list'}
  - @columns.each do |column|
    %th= column.header
  - @list_items.each do |item|
    - line_presenter = item.presenter(context)
    %tr{class: item.matches(@hi_lite) ? 'hilite' : ''}
      - @columns.each do |column|
        - if column.is_svg
          - svg_params = column.svg_params(line_presenter)
          - if svg_params
            %td= render 'cube_icon', svg_params
          - else
            %td
        -else
          =column.cell(line_presenter)
  -if @clipped
    %tfoot
      %tr
        %td{colspan: 99}
          showing #{@clipped[:shown]} of #{@clipped[:total]} positions

#show-alg{style: 'height:200px; width:200px;'}
#about-box
  %p This site aims to contain all knowledge of algorithms and positions for the last layer of Rubik's Cube, and present it in simple and useful ways. That will take a while.
  %p For now is has all algs up to 17 moves (43 million), and some basic features. More to come.
  %p
  %p Hand crafted by Lars Petrus in Oakland 2015-16.
  %p
    Big thanks to
    = link_to("Tom Rokicki", "http://tomas.rokicki.com/")
    for generating the algs!

:javascript
  $('.pick-icon, .random, .unselect').on('click', function() {
    $('#change').val($(this).data('field').replace('#','') + '-' + $(this).data('code'));
    send_form(false);
  });

  $("#{Fields::ALL.map{|f| f.as_css_id}.join(', ')}").change(function() {
    send_form(true);
  });

  $('.js-goto-post').on('click', function(e) {
    window.location.href = '/positions/' + $(event.target).text() + '?hl_name=' + $(event.target).text();
  });

  function send_form(prefs_changed) {
    var only_defaults = true;
    var field_defaults = #{@field_defaults};

    for (var prop in field_defaults) {
      if ($('#'+prop).val() === field_defaults[prop]) {
        $('#'+prop).attr("disabled", "disabled");
      } else {
        only_defaults = false;
      }
    }

    if (prefs_changed) {
      if (only_defaults) {
        $('#change').val('prefs')
      } else {
        $('#change').attr("disabled", "disabled");
      }
    }

    $('form#main-form').submit();
  }
  // --- SVG ROTATION SECTION ---

  var ALG_TEXT_SELECT = 'td.js-alg, td.js-combo span';

  var U_TRANSPOSITIONS = {
     1: { R: 'F', F: 'L', L: 'B', B: 'R' },
     2: { R: 'L', F: 'B', L: 'R', B: 'F' },
     3: { R: 'B', F: 'R', L: 'F', B: 'L' },
  }

  function rotate_all_algs(rotation) {
    var diff = (rotation + 4) % 4;
    if (diff > 0) {
      var u_transposition = U_TRANSPOSITIONS[diff];
      $(ALG_TEXT_SELECT).text(function(i, current_text){
        result = '';
        for (var i = 0, len = current_text.length; i < len; i++) {
          result += u_transposition[current_text[i]] || current_text[i];
        }
        return result;
      });
    }
  }

  function spin_svgs(diff, progress) {
    $('svg g').attr("transform", "rotate(" + (page_rotation*90 + diff*90*progress) + ", 50, 50)");
  }

  function adjust_pos_name() {
    $('#headline_prot').text(['', '+U', '+U2', "+U'"][page_rotation]);
  }

  var page_rotation = #{@page_rotation}; // Global state
  if (page_rotation > 0) {
    adjust_pos_name();
    spin_svgs(0, 0);
    rotate_all_algs(page_rotation);
  };

  function adjust_url() {
    var old_url = window.location.search;
    var new_prot = 'prot=' + page_rotation;
    if (old_url.indexOf('prot') != -1) {
      history.replaceState('', '', old_url.replace(/prot=./, new_prot));
    } else {
      var sep = old_url.indexOf('?') == -1 ? '?' : '&';
      history.replaceState('', '', old_url + sep + new_prot);
    }
  }

  function rotate_page(diff) {
    var algs_rotated = false;
    $('body').animate({ dummyAttr: '20px' },
      {
        duration:400,
        progress: function(animation, progress) {
          spin_svgs(diff, progress);

          var gray = Math.floor(400.0 * (0.5 - Math.abs(progress - 0.5)));
          $(ALG_TEXT_SELECT).attr("style", "color: rgb("+gray+","+gray+","+gray+");");

          if (progress > 0.5 && !algs_rotated) {
            rotate_all_algs(diff);
            algs_rotated = true;
          }
        },
        complete: function() {
          page_rotation = (page_rotation + diff + 4) % 4;
          adjust_url();
          adjust_pos_name();
          $(ALG_TEXT_SELECT).removeAttr("style");
        }
      }
    );
  }

  $(document).on('keypress', function(event) {
    if (event.keyCode === 44) { rotate_page(-1); } // comma = 44
    if (event.keyCode === 46) { rotate_page(+1); } // period = 46
    if (event.keyCode === 47) { rotate_page(+2); } // slash = 47
  });

  $('#zbll').on('click', function() {
    if ($(this).is(":checked")) {
      Cookies.set('zbll', 'Yep');
    } else {
      Cookies.remove('zbll')
    }
    window.location.reload()
  });


- if Rails.env.production?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1030049-2', 'auto');
    ga('send', 'pageview');
