.leftmenu= link_to 'Random Position', "positions/#{Position.random_id}"
= render 'find_by_alg'

%hr{style: 'clear:both;'}

.left_side_stats{class: @single_position ? '' : 'positions-stats'}
  %span#headline= @stats.headline
  %table
    - @stats.sections[0].each do |line|
      %tr
        %td= line.label
        %td{class: line.class_name}= line.text
    %tr.spacer
    - @stats.sections[1].each do |line|
      %tr
        %td= line.label
        %td{class: line.class_name}= line.text
  - if @stats.link_section
    .spacer
    - @stats.link_section.each do |link|
      .link= link

%div{style: 'position: fixed; bottom:4px; right:4px; font-size: 8px; color: #999;'}
  Cache #{number_to_human_size Rails.cache.instance_variable_get('@cache_size')}
  | PID #{Process.pid}

%table.center
  %tr
    - [:COP, :OLL, '', :CO, :CP, :EO, :EP].each do |header|
      %th= header
  %tr#pickers
    = render 'picker_td', prop: :cop, add_class: 'grid-lines'
    = render 'picker_td', prop: :oll, add_class: 'grid-lines'
    %td{style: 'border-right: solid 1px #bbb;'}
    = render 'picker_td', prop: :co
    = render 'picker_td', prop: :cp
    = render 'picker_td', prop: :eo
    = render 'picker_td', prop: :ep,  add_class: 'relative', ubl_text: true

-if @single_position
  .right{style: "width: 180px; position: absolute; top:40px; right:0px;"}
    = render 'svg_cube', icon: Icons::Big.new(@single_position), size: 160, label: '', add_class: 'big-icon'


=form_tag url_for(controller: "positions", action: "index"), method: 'get', id: 'main-form' do
  - Fields::FILTER_NAMES.each do |f|
    =hidden_field_tag(f, @filters[f])
  =hidden_field_tag(:clicked, 'none')

  - unless @single_position
    .center.page-format-header
      Show as
      =Fields::LIST.as_tag(@format)
  - else
    .singlepos-format-header Showing algs for single selected position.
    =hidden_field_tag(Fields::LIST.name, Fields::LIST.value(@format))

  - if @list_algs
    .center.algs-list-header
      Show first
      =Fields::LINES.as_tag(@format)
      algs

      .right
        Sort by
        =Fields::SORTBY.as_tag(@format)

- flags = @list_algs ? -> (alg) do {shortest: alg.length == @stats.data.shortest, fastest: alg.speed == @stats.data.fastest} end : -> (pos) do {} end
%table{class: @list_algs ? 'algs-list' : 'positions-list'}
  - @columns.each do |column|
    %th= column.header
  - @list_items.each do |item|
    %tr
      - @columns.each do |column|
        - if column.is_svg
          %td= render 'svg_cube', column.svg_locals.call(item)
        -else
          =column.td(item, flags.call(item))

#show-alg{style: 'height:200px; width:200px;'}

:javascript
  $('.svg-icon, .random, .unselect').on('click', function() {
    var field = $(this).data('field');

    $(field).val($(this).data('code'));
    $('#clicked').val(field);
    $('form#main-form').submit();
  });

  $("#{Fields::FORMATS.map{|f| f.as_css_id}.join(', ')}").change(function() {
    $('form#main-form').submit();
  });

  // --------- Open/Close picker dialogs ---
  var mouse_is_inside_picker = '';

  var picker_dialog_props = {
    cop: opts({ width: '400px', title: 'Corner orientation & position (COP)'}),
    oll: opts({ width: '404px', title: 'Corner and edge orientation (OLL)'}),
    co:  opts({ width: '394px', title: 'Corner orientation (CO)'}),
    cp:  opts({ width: '308px', title: 'Corner position (CP)'}),
    eo:  opts({ width: '394px', title: 'Edge orientation (EO)'}),
    ep:  opts({ width: '572px', title: 'Edge position (EP)'}),
  };
  function opts(specifics) {
    var pos = { my: 'center top', at: 'center bottom', of: '#pickers' };
    return $.extend(specifics, {resizable: false, modal: false, draggable: false, position: pos, dialogClass: "picker-dialog"});
  };

  $('.selected-icon').hover(
    function(event){
      var field = $(event.currentTarget).attr('data-prop');
      var picker = $('#'+field+'-picker').dialog(picker_dialog_props[field]);
      picker.parent().attr('data-dialog-field', field)
    },
    function(event){
      var field = $(event.currentTarget).attr('data-prop');
      setTimeout(function(){
        if (mouse_is_inside_picker != field) { $('#'+field+'-picker').dialog('close'); }
      }, 100);
    }
  );

  $(document).on({
    mouseenter: function(event) {
      mouse_is_inside_picker = $(event.currentTarget).attr('data-dialog-field')
    },
    mouseleave: function(event) {
      var field = $(event.currentTarget).attr('data-dialog-field')
      $('#'+field+'-picker').dialog('close');
      mouse_is_inside_picker = ''
    }
  }, ".picker-dialog");

  // --------- Show Roofpigs ---
  var ROOFPIG_CONF_AD = "solved=U-| hover=3 | speed=600"

  $(document).on('click', '.algs-list .show-pig', function(e) {
    var td = $(event.target).parent()
    var alg = td.prev().text()
    var title = td.siblings().eq(2).text()

    roofpig_dialog(title, alg, td.data("us"), td.parent())
  });

  $(document).on('click', '.positions-list .show-pig', function(e) {
    var td = $(event.target).parent();
    var alg = td.prev().text();
    var title = td.siblings().eq(0).text() + ' shortest';

    roofpig_dialog(title, alg, td.data("us"), td.parent())
  });
