.leftmenu= link_to 'Browse', '/'
.leftmenu= link_to 'Random Position', "#{Position.random_id}"
= render 'find_by_alg'

%hr{style: 'clear:both;'}

.left_side_stats
  %span#headline
    Position #{@position.display_name}
  %table
    %tr
      %td Shortest
      %td.optimal= @stats.shortest
    %tr
      %td Fastest
      %td.optimal= '%.2f' % @stats.fastest
    %tr.spacer
    - @stats.raw_counts.keys.sort.each do |length|
      %tr
        %td #{length} moves
        %td= pluralize(@stats.raw_counts[length], 'alg')
    %tr.spacer
    %tr
      %td Combos
      %td #{@stats.combo_count} algs
    %tr
      %td Shortest
      %td= @stats.shortest_combo
    %tr
      %td Fastest
      %td= '%.2f' % @stats.fastest_combo
    %tr.spacer

  - if @position.has_mirror
    = link_to "Mirror - #{@position.mirror.display_name}", "#{@position.mirror_ll_code}"
  - else
    .dead-link No mirror
  - if @position.has_inverse
    = link_to "Inverse - #{@position.inverse.display_name}", "#{@position.inverse_ll_code}"
  - else
    .dead-link No inverse

.right= render 'svg_cube', icon: Icons::Oll.for(@position), size: 50
.right= render 'svg_cube', icon: Icons::Ep.for(@position), size: 50
.right= render 'svg_cube', icon: Icons::Eo.for(@position), size: 50
.right= render 'svg_cube', icon: Icons::Cop.for(@position), size: 50

.center{style: "width: 200px;"}
  = render 'svg_cube', icon: Icons::Big.new(@cube, Icons::Ep.for(@position).arrows + Icons::Cp.for(@position).arrows), size: 160, label: '', add_class: 'big-icon'

.center.alg-list-header
  =form_tag url_for(controller: "positions", action: "show", id: @position.ll_code), method: 'get', id: 'algs_options' do
    Show first
    =select_tag("page", options_for_select([25, 50, 100, 200, 500], selected: @page))

    =select_tag("algtypes", options_for_select([['single and combo', 'both'], ['only single', 'single'], ['only combo', 'combo']], selected: @algtypes))
    algs.

    .right
      Sort by
      =select_tag("sortby", options_for_select(['speed', ['moves', 'length']], selected: @sortby))

%table.index.alg-list
  %thead
    =first_2_headers(@sortby)
    %th Name
    %th Alg
    %th
    %th Notes
  - @solution_order.each do |key|
    - @solutions[key].each_with_index do |alg, i|
      %tr
        =first_2_columns(@sortby, alg, copy: i > 0, shortest: alg.length == @stats.shortest, fastest: alg.speed == @stats.fastest)
        %td{class: alg.css_kind}= alg_name_td(alg)
        %td{class: (i > 0 ? 'copy' : nil)}= alg.moves
        %td{:'data-us' => alg.setup_moves}
          %a{href: "#", class: "show-pig"} show
        %td
          - unless alg.single?
            = alg.mv_start
            %span.cancel1= alg.mv_cancel1
            %span.merged=  alg.mv_merged
            %span.cancel2= alg.mv_cancel2
            %span.alg2=    alg.mv_end
          - else
            = alg.specialness

#show-alg{style: 'height:200px; width:200px;'}
%script ROOFPIG_CONF_AD = "solved=U-| hover=3 | speed=600"

:javascript
  $('#page, #sortby, #algtypes').change(function() {
    $('form#algs_options').submit();
  });

  $(document).on('click', '.show-pig', function(e) {
    var td = $(event.target).parent()
    var alg = td.prev().text()
    var title = td.prev().prev().text()

    roofpig_dialog(title, alg, td.data("us"))
  });

  $('.goto-pos').on('click', function(e) {
    window.location.href = '/positions/' + $(event.target).text();
  });
