%div{style: "font-size: 26px;"}= link_to 'All Positions', root_url
- if @position.has_mirror
  %div{style: "font-size: 16px;"}= link_to "Mirror position", "#{@position.mirror_ll_code}"

%h3 Position #{@position.ll_code}

%div{style: "position:relative"}
  %div{class: "arr_#{@position.corner_swap}"}

  %table.upos
    %tr
      %td{style:"border: none;"}
      %td.b{style:"background-color:#{@cube.color_at('ULB', 'B')}"}
      %td.b{style:"background-color:#{@cube.color_at('UB', 'B')}"}
      %td.b{style:"background-color:#{@cube.color_at('UBR', 'B')}"}
      %td{style:"border: none;"}
    %tr
      %td.l{style:"background-color:#{@cube.color_at('ULB', 'L')}"}
      %td.u{style:"background-color:#{@cube.color_at('ULB', 'U')}"}
      %td.u{style:"background-color:#{@cube.color_at('UB',  'U')} "}
      %td.u{style:"background-color:#{@cube.color_at('UBR', 'U')}"}
      %td.r{style:"background-color:#{@cube.color_at('UBR', 'R')}"}
    %tr
      %td.l{style:"background-color:#{@cube.color_at('UL', 'L')}"}
      %td.u{style:"background-color:#{@cube.color_at('UL', 'U')}"}
      %td.u{style:"background-color:yellow"}
      %td.u{style:"background-color:#{@cube.color_at('UR', 'U')}"}
      %td.r{style:"background-color:#{@cube.color_at('UR', 'R')}"}
    %tr
      %td.l{style:"background-color:#{@cube.color_at('UFL', 'L')}"}
      %td.u{style:"background-color:#{@cube.color_at('UFL', 'U')}"}
      %td.u{style:"background-color:#{@cube.color_at('UF',  'U')} "}
      %td.u{style:"background-color:#{@cube.color_at('URF', 'U')}"}
      %td.r{style:"background-color:#{@cube.color_at('URF', 'R')}"}
    %tr
      %td{style:"border: none;"}
      %td.f{style:"background-color:#{@cube.color_at('UFL', 'F')}"}
      %td.f{style:"background-color:#{@cube.color_at('UF', 'F')} "}
      %td.f{style:"background-color:#{@cube.color_at('URF', 'F')}"}
      %td{style:"border: none;"}

- @position.combo_algs.first(3).each do |f3|
  .roofpig.rp160{:'data-config' => "base=AD | alg=#{f3.moves} | flags=showalg #{f3.setup_moves}" }
    =f3.name

%hr{style: 'clear:both;'}

%table.index
  %th Moves
  %th Name
  %th Alg
  - @position.combo_algs.each do |alg|
    %tr
      %td= alg.length
      %td= alg.name
      %td
        = alg.mv_start
        %span.cancel1= alg.mv_cancel1
        %span.merged=  alg.mv_merged
        %span.cancel2= alg.mv_cancel2
        %span.alg2=    alg.mv_end


%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
%script ROOFPIG_CONF_AD = "solved=U-| hover=3"
