%div{style: "font-size: 26px;"}= link_to 'All Positions', root_url
- if @position.has_mirror
  %div{style: "font-size: 16px;"}= link_to "Mirror position", "#{@position.mirror_ll_code}"

%div{style: "float: right;"}
  = render 'll_icon', pos: OllPosition.by_code(@position.oll), add_class: ''
%div{style: "float: right;"}
  = render 'll_icon', pos: CornerPosition.by_code(@position.corner_look), add_class: ''

%h3 Position #{@position.ll_code}

%div.u-position-pic
  %div{class: "arr_#{@position.corner_swap}"}

  %table
    %tr
      %td.none
      %td.b{class: @cube.css(:ULB,:B)}
      %td.b{class: @cube.css(:UB, :B)}
      %td.b{class: @cube.css(:UBR,:B)}
      %td.none
    %tr
      %td.l{class: @cube.css(:ULB,:L)}
      %td.u{class: @cube.css(:ULB,:U)}
      %td.u{class: @cube.css(:UB, :U)}
      %td.u{class: @cube.css(:UBR,:U)}
      %td.r{class: @cube.css(:UBR,:R)}
    %tr
      %td.l{class: @cube.css(:UL, :L)}
      %td.u{class: @cube.css(:UL, :U)}
      %td.u.u-color
      %td.u{class: @cube.css(:UR, :U)}
      %td.r{class: @cube.css(:UR, :R)}
    %tr
      %td.l{class: @cube.css(:UFL,:L)}
      %td.u{class: @cube.css(:UFL,:U)}
      %td.u{class: @cube.css(:UF, :U)}
      %td.u{class: @cube.css(:URF,:U)}
      %td.r{class: @cube.css(:URF,:R)}
    %tr
      %td.none
      %td.f{class: @cube.css(:UFL,:F)}
      %td.f{class: @cube.css(:UF, :F)}
      %td.f{class: @cube.css(:URF,:F)}
      %td.none

- @position.combo_algs.first(3).each do |f3|
  .roofpig.rp160{:'data-config' => "base=AD | alg=#{f3.moves} | flags=showalg #{f3.setup_moves}" }
    =f3.name

%hr{style: 'clear:both;'}

%table.index
  %th Moves
  %th Name
  %th Alg
  - @position.combo_algs.each do |alg|
    %tr
      %td= alg.length
      %td{:class => alg.oneAlg? ? 'one-alg' : ''}= alg.name
      %td
        = alg.mv_start
        %span.cancel1= alg.mv_cancel1
        %span.merged=  alg.mv_merged
        %span.cancel2= alg.mv_cancel2
        %span.alg2=    alg.mv_end


%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
%script ROOFPIG_CONF_AD = "solved=U-| hover=3"
