.leftmenu= link_to 'Back to Search', :back
- if @position.has_mirror
  .leftmenu= link_to "Mirror Position", "#{@position.mirror_ll_code}"

.right= render 'll_icon', pos: OllIcons.for(@position), add_class: ''
.right= render 'll_icon', pos: EoIcons.for(@position), add_class: ''
.right= render 'll_icon', pos: EpIcons.for(@position), add_class: ''
.right= render 'll_icon', pos: CopIcons.for(@position), add_class: ''

%br{clear: 'both'}

.right= render 'svg_cube', iconf: OllIcons.for(@position), size: 70
.right= render 'svg_cube', iconf: EoIcons.for(@position), size: 70
.right= render 'svg_cube', iconf: EpIcons.for(@position), size: 70
.right= render 'svg_cube', iconf: CopIcons.for(@position), size: 70

%br{clear: 'both'}

%h3 Position #{@position.ll_code}

= render 'svg_cube', iconf: BigIcon.new(@cube, EpIcons.for(@position).arrows + CopIcons.for(@position).arrows), size: 140, no_name: true, add_class: 'show-centers'

- @top_3.each do |t3|
  .roofpig.rp160{:'data-config' => "base=AD | alg=#{t3.moves} | flags=showalg #{t3.setup_moves}" }
    =t3.name

%hr{style: 'clear:both;'}

- dupes = Set.new
%table.index
  %th Moves
  %th Name
  %th Alg
  %th Composition
  - @position.combo_algs.each do |alg|
    %tr
      %td= alg.length unless dupes.include? alg.moves
      %td{class: alg.oneAlg? ? 'one-alg' : ''}= alg.name
      %td{class: @top_3.include?(alg) ? 'top3' : ''}= alg.moves unless dupes.include? alg.moves
      %td
        = alg.mv_start
        %span.cancel1= alg.mv_cancel1
        %span.merged=  alg.mv_merged
        %span.cancel2= alg.mv_cancel2
        %span.alg2=    alg.mv_end
    - dupes << alg.moves


%script ROOFPIG_CONF_AD = "solved=U-| hover=3"
