.leftmenu= link_to 'Back to Search', :back
- if @position.has_mirror
  .leftmenu= link_to "Mirror: #{@position.mirror.cop_eop_name}", "#{@position.mirror_ll_code}"
- else
  .leftmenu Self mirrored

.right= render 'svg_cube', iconf: Icons::Oll.for(@position), size: 50
.right= render 'svg_cube', iconf: Icons::Ep.for(@position), size: 50
.right= render 'svg_cube', iconf: Icons::Eo.for(@position), size: 50
.right= render 'svg_cube', iconf: Icons::Cop.for(@position), size: 50

.center{style: "width: 200px; "}
  = render 'svg_cube', iconf: Icons::Big.new(@cube, Icons::Ep.for(@position).arrows + Icons::Cop.for(@position).arrows), size: 160, label: @position.cop_eop_name, add_class: 'big-icon'

.center{style: "width: 528px;"}
  %h4.top3 Top 3 Algs
  - @top_3.each do |t3|
    .roofpig.rp160{:'data-config' => "base=AD | alg=#{t3.moves} | flags=showalg #{t3.setup_moves}" }
      =t3.name

%hr{style: 'clear:both;'}

- dupes = Set.new
%table.index
  %th Moves
  %th Name
  %th Alg
  %th Composition
  - @position.combo_algs.each do |alg|
    %tr
      %td{class: @position.is_optimal(alg) ? 'optimal' : ''}= alg.length unless dupes.include? alg.moves
      %td{class: alg.css_kind}= alg.name
      %td{class: @top_3.include?(alg) ? 'top3' : ''}= alg.moves unless dupes.include? alg.moves
      %td
        - unless alg.oneAlg?
          = alg.mv_start
          %span.cancel1= alg.mv_cancel1
          %span.merged=  alg.mv_merged
          %span.cancel2= alg.mv_cancel2
          %span.alg2=    alg.mv_end
    - dupes << alg.moves


%script ROOFPIG_CONF_AD = "solved=U-| hover=3 | speed=600"
