<h1>Alg Demo</h1>

<h3>Pre Alpha Spike Demo</h3>
<div class="roofpig rp160" data-config="base=AD | tweaks=BL:BL BR:BR DB:DB DBL:DBL DRB:DRB DF:DF DLF:DLF DFR:DFR DL:DL DR:DR FL:FL FR:FR UB:UB ULB:ULB UBR:RUB UR:UF UFL:LUF URF:FUR UF:UL UL:UR"></div>&ndash;&gt;-->
<div class="roofpig rp160" data-config="base=AD | tweaks=<%= @pos1.tweaks() %>"></div>
<div class="roofpig rp160" data-config="base=AD | tweaks=<%= @pos2.tweaks() %>"></div>
<div class="roofpig rp160" data-config="base=AD | tweaks=<%= @pos3.tweaks() %>"></div>
<!--<div class="roofpig rp160" data-config="base=AzD | tweaks=<%= @cube1.as_tweaks() %>"></div>-->
<div class="roofpig rp160" data-config="base=AzD | tweaks=<%= @cube2.as_tweaks() %>"></div>
<!--<div class="roofpig rp160" data-config="base=AzD | tweaks=<%= @cube3.as_tweaks() %>"></div>-->
<!--<div class="roofpig rp160" data-config="base=AzD | tweaks=<%= @cube4.as_tweaks() %>"></div>-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script> ROOFPIG_CONF_AD = "solved=U-| hover=3" </script>
