.algset_top
  =link_to('Birdflu', '/')
  =link_to('Algsets', alg_sets_path)

%h3 Edit AlgSet

- if @algset.errors.any?
  #error_explanation
    %ul
    - @algset.errors.full_messages.each do |msg|
      %li
        = msg
=form_for(@algset, html: {class: "edit_algset"}) do |f|
  %p
    = f.label :name
  %p
    = f.text_field :name, class: 'form-control'

  %p
    = f.label :description
  %p
    = f.text_area :description, size: "50x3", class: 'form-control'

  %p
    = f.label :algs
  %p.small
    = @algset.algs
  %p
    = f.label 'Add algs'
    = text_field_tag :add_algs, params[:add_algs]
    = f.label 'Remove algs'
    = text_field_tag :remove_algs, params[:remove_algs]


  %p
    = f.submit "Save changes", class: "show-pig", style: 'font-size: 14px;'