= render 'leftbar', section: Section::ALGSETS

.alg-set-form
  %h3 Edit AlgSet

  - if @algset.errors.any?
    #error_explanation
      %ul
      - @algset.errors.full_messages.each do |msg|
        %li
          = msg
  =form_for(@algset, html: {class: "edit_algset"}) do |f|
    %p
      = f.label :name
    %p
      = f.text_field :name, class: 'form-control'

    %p
      = f.label :subset
    %p{style: 'font-size: 12px; margin: 0 0 0 20px;'}
      = subset_long_name(@algset)

    %p
      = f.label :description
    %p
      = f.text_area :description, size: "50x3", class: 'form-control'

    %p
      = f.label :algs
    %p{style: 'margin: 0;'}
      .mirrored-algs
        =fmt_algs(@algset.algs)
    %p
      = f.label 'Add algs'
      = text_field_tag :add_algs, params[:add_algs]
      = f.label 'Remove algs'
      = text_field_tag :remove_algs, params[:remove_algs]

    %p
      = f.submit "Save changes", class: "knapp knapp-enabled knapp16", style: "font-weight: 700;"
      = link_to "Cancel", alg_sets_path, class: "knapp knapp-enabled knapp16", style: "font-weight: 700;"

=render('mirror_fragment', fields: '#add_algs,#remove_algs')
