= render 'leftbar', page: ApplicationController::ALGSETS_NAME

.index-header
  %h2 Combo Alg Sets
  - if @login
    =link_to('Create', new_alg_set_path, class: 'knapp knapp-enabled knapp16')
  - else
    %div{style: 'font-size: 9px;'} (log in to create)
%p

%table{class: @list_classes}
  %tr
    %th id
    %th name
    %th algs
    %th avg length
    %th avg speed
    %th coverage
    %th owner
    %th
    %th
    %th
    %th
  - @all_sets.each do |algset|
    %tr
      %td
        =algset.id
      %td
        =algset.dropdown_name
      %td
        =algset.algs.split(' ').count
      %td
        =fmt_avg_length(algset)
      %td
        =fmt_avg_speed(algset)
      %td
        =fmt_coverage_percent(algset)
        %span{style: "font-size: 8px;"}
          = fmt_coverage_fraction(algset)
      %td
        =owner(algset)
      %td
        =link_to('Show', alg_set_path(algset), class: 'knapp knapp-enabled', remote: true)
      %td
        =link_to('Algs', alg_set_path(algset) + '/algs', class: 'knapp knapp-enabled')
      %td
        - if algset.editable_by_this_user
          =link_to('Edit', edit_alg_set_path(algset), class: 'knapp knapp-enabled')
      %td
        - if algset.editable_by_this_user && (not algset.predefined)
          = link_to "Remove", algset, method: :delete, data: {confirm:"Remove alg set?"}, class: 'knapp knapp-enabled'

#show-algset

-if @to_compute.present?
  :javascript
    $.get("/alg_sets/compute/#{@to_compute}", function(data) {
      if (data.success) {
        location.reload();
      } else {
        console.log("/alg_sets/compute/#{@to_compute} failed: ", data.error);
      }
    });
