%h4 This is a Lars only page. How did you even find it?

.stat Rails version: #{Rails.version} · Ruby version: #{@ruby_version}

.stat Cache #{number_to_human_size Rails.cache.instance_variable_get('@cache_size')}

.stat PID #{Process.pid} · Uptime: #{AlgSetLab.duration_to_s(Time.now - Birdflu::BOOTED_AT)}

.stat
  %a{href: "https://github.com/larspetrus/Birdflu/commit/#{`git rev-parse HEAD`}"}
    Git commit

.stat #{spaced_number(@raw_alg_count)} algs, #{spaced_number(@combo_alg_count)} combos, #{WcaUserData.count} users

.stat
  %table
    -@requests.each do |req|
      %tr
        %td
          =req.first
        %td
          =req.last

.stat
  -if @troubles.empty?
    All is calm.
  -else
    -@troubles.each do |e|
      %br
      =e

:javascript
  $('body').addClass("#{@body_css}");