%h4 This is a Lars only page. How did you even find it?

.stat Rails version: #{Rails.version} · Ruby version: #{@ruby_version}

.stat Cache #{number_to_human_size Rails.cache.instance_variable_get('@cache_size')}

- git_sha1 = `git rev-parse HEAD`
.stat
  PID #{Process.pid} ·
  Uptime: #{AlgSetLab.duration_to_s(Time.now - Birdflu::BOOTED_AT)} ·
  Git commit:
  = link_to(git_sha1.first(7), "https://github.com/larspetrus/Birdflu/commit/#{git_sha1}")

.stat #{spaced_number(@raw_alg_count)} algs, #{spaced_number(@combo_alg_count)} combos
.stat #{WcaUser.count} users, #{Star.count} stars, #{AlgSet.count} Alg sets

-if @login&.db_id == 1 || Rails.env.development?
  .stat
    %table
      -@requests.each do |req|
        %tr
          %td
            =req.first
          %td
            =req.last
  .stat
    %table
      -@user_agents.each do |req|
        %tr
          %td
            =req.first
          %td
            =req.last

  .stat
    -if @troubles.empty?
      All is calm.
    -else
      -@troubles.each do |e|
        %br
        =e

:javascript
  $('body').addClass("#{@body_css}");