%h2 Various application stats/diagnostix

.stat Ruby version: #{@ruby_version}

.stat Rails version: #{Rails.version}

.stat Cache #{number_to_human_size Rails.cache.instance_variable_get('@cache_size')}

.stat PID #{Process.pid}

.stat
  %a{href: "https://github.com/larspetrus/Birdflu/commit/#{`git rev-parse HEAD`}"}
    Git commit

.stat #{RawAlg.count} algs, #{ComboAlg.count} combos, #{WcaUserData.count} users


:javascript
  $('body').addClass('status-page');