%h2 Manage Algorithms

= button_to "Update Positions", { action: "update_positions" }, remote: true, style: 'background-color: #ccf; float: left; margin: 3px;'

=form_tag url_for(action: "combine"), method: 'post', remote: true do
  =submit_tag "Merge in selected Algs", style: 'background-color: #fcc; margin: 3px;'
  %table.manage_algs
    %thead
      %th Name
      %th Length
      %th Moves
    - @root_algs.each do |alg|
      %tr
        %td
          %label
            = check_box_tag 'rootalgs[]', alg.id unless alg.combined
            = alg.name
        %td= alg.length
        %td= alg.moves
