%nav.section
  %h1
    %span
      section
  .middiv
    %span.list-size
      = select_tag(:sectionator, options_for_select(@lb_sections, selected: page, disabled: @lb_disabled), class: 'list-size__select')

-if page != ApplicationController::FMC_NAME
  %nav.leftbar
    -if page == ApplicationController::MAIN_NAME
      .leftitem.clickable= link_to 'Random Position', "positions/#{Position.random_id(@position_set)}"

    .leftitem
      =render 'find_by_alg'

    -if page == ApplicationController::MAIN_NAME
      .leftitem.clickable
        %label
          = check_box_tag(:zbll, 1, @position_set == 'eo')
          Lock EO (ZBLL)

    .leftitem
      %span.list-size
        = select_tag(:'list-size', options_for_select([['Small Text', 's'], ['Medium Text', 'm'], ['Large Text', 'l']], @text_size), class: 'list-size__select')

    - if (page == ApplicationController::MAIN_NAME || page == ApplicationController::ALGSETS_NAME) && @show_combos
      .leftitem
        %span.list-size
          =Fields::COMBOS.as_tag(@list_format, [], class: 'list-size__select', form: 'main-form')
        - unless @list_format.combos == 'none'
          %span.list-size.list-outline{style: "margin-top: 6px;"}
            =Fields::ALGSET.as_tag(@list_format, AlgSet.menu_options, class: 'list-size__select', form: 'main-form') # caching candidate
        - else
          =Fields::ALGSET.as_hidden_field(@list_format)

    .leftitem.clickable#about-link About…

#about-box
  %p Birdflu aims to contain all knowledge of algorithms and positions for the last layer of Rubik's Cube, and present it in simple and useful ways. That will take a while.
  %p For now is has all algs up to 17 moves (43 million), and some basic features. More to come.
  %p
  %p Hand crafted by Lars Petrus in Oakland 2015-16.
  %p
    Big thanks to
    = link_to("Tom Rokicki", "http://tomas.rokicki.com/")
    for generating the algs!
  %hr
  %p "Birdflu" is the shortest English word containing the basic moves BRDFLU.


:javascript
  var SECTION_PATHS = {"#{ApplicationController::MAIN_NAME}": '/', "#{ApplicationController::FAV_NAME}": "#{galaxies_path}", "#{ApplicationController::ALGSETS_NAME}": "#{alg_sets_path}", "#{ApplicationController::FMC_NAME}": '/fmc?example=1'}
  $('#sectionator').change(function() {
    window.location.href = SECTION_PATHS[$(this).val()];
  });

  $('#zbll').on('click', function() {
    var addon = '';
    if ($(this).is(":checked")) {
      Cookies.set('zbll', 'Yep', { expires: 3650 });
      addon = '&poschange=eo-4'
    } else {
      Cookies.remove('zbll')
    }
    window.location = window.location.search + addon;
  });

  $('#list-size').on('change', function() {
    Cookies.set('size',$(this).val() , { expires: 3650 });
    window.location = window.location.search;
  });

  $(document).on('click', '#about-link', function(event) {
    $('#about-box').dialog({
      position: { my: 'center', at: 'center', of: 'body' }, // TODO
      width: '240px',
      title: 'What is this?',
      modal: true,
      closeOnEscape: true,
      dialogClass: 'lars-dialog'
    });
  });