.leftflex
  %nav.section
    %h1
      %span
        section
    .middiv
      %span.list-size
        = select_tag(:sectionator, options_for_select(@lb_sections, selected: section, disabled: @lb_disabled), class: 'list-size__select')
    -unless @login
      .loginhint
        Log in to use grey sections

  -if section != Section::FMC
    %nav.leftbar
      -if section == Section::ALGS
        .leftitem.clickable= link_to 'Random Position', "positions/#{Position.random_id(@position_set)}"

      .leftitem
        =render 'find_by_alg'

      -if section == Section::ALGS
        .leftitem.clickable
          %label
            = check_box_tag(:zbll, 1, @position_set == 'eo')
            Lock EO (ZBLL)

      .leftitem
        %span.list-size
          = select_tag(:'list-size', options_for_select([['Small Text', 's'], ['Medium Text', 'm'], ['Large Text', 'l']], @text_size), class: 'list-size__select')

      - if (section == Section::ALGS || section == Section::ALGSETS)
        .leftitem
          %span.list-size
            =Fields::COMBOS.as_tag(@list_format, [], class: 'list-size__select', form: 'main-form')
          - unless @list_format.combos == 'none'
            %span.list-size.list-outline{style: "margin-top: 6px;"}
              =Fields::ALGSET.as_tag(@list_format, AlgSet.menu_options(@login, @position_set == 'eo'), class: 'list-size__select', form: 'main-form')
          - else
            =Fields::ALGSET.as_hidden_field(@list_format)

      .leftitem.clickable#about-link About…

#about-box
  %p Birdflu aims to contain all knowledge of algorithms and positions for the last layer of Rubik's Cube, and present it in simple and useful ways. For now is has all algs up to 17 moves.
  %p
  %p Hand crafted by Lars Petrus in Oakland 2015-17.
  %p
    Big thanks to
    = link_to("Tom Rokicki", "http://tomas.rokicki.com/")
    for generating the algs!
  %hr
  %p To use the #{Section::FAVORITES} and #{Section::ALGSETS} sections, log in using a WCA account (top right). The #{Section::FMC} section is just a beginning.
  %hr
  %p Combo Alg Sets implement the old idea of solving LL in one look with only a few dozen memorized algs by using a pair of algs for each. ZBLL can be solved with only 14 algs, and the full LL with 39.
  %hr
  %p "Birdflu" is the shortest English word containing the basic moves BRDFLU.
  %hr
  %p Questions: birdflu@lar5.com


:javascript
  var SECTION_PATHS = {"#{Section::ALGS}": '/', "#{Section::FAVORITES}": "#{galaxies_path}", "#{Section::ALGSETS}": "#{alg_sets_path}", "#{Section::FMC}": '/fmc?example=1'}
  $('#sectionator').change(function() {
    window.location.href = SECTION_PATHS[$(this).val()];
  });

  $('#zbll').on('click', function() {
    var addon = '';
    if ($(this).is(":checked")) {
      Cookies.set('zbll', 'Yep', { expires: 3650 });
      addon = '&poschange=eo-4'
    } else {
      Cookies.remove('zbll')
    }
    window.location = window.location.search + addon;
  });

  $('#list-size').on('change', function() {
    Cookies.set('size',$(this).val() , { expires: 3650 });
    window.location = window.location.search;
  });

  $(document).on('click', '#about-link', function(event) {
    $('#about-box').dialog({
      position: { my: 'center', at: 'top', of: 'body' },
      width: '305px',
      title: 'What is Birdflu?',
      modal: true,
      closeOnEscape: true,
      dialogClass: 'lars-dialog'
    });
  });