!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Birdflu 1.0 β-ish
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-1030049-2', 'auto');
        ga('send', 'pageview');
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "flash_msgs"
    = yield

    .login{class: @dev_marker_class}
      - if @login
        #{@login.name}
        .logout
          = link_to 'Logout', wca_logout_path
      - else
        - if true || Rails.application.secrets.wca_oauth_client_secret
          %a{href: OauthController::WCA_LOGIN_URL}
            WCA Login
        - else
          = link_to 'Fake Login', fake_wca_login_path

    :javascript
      setTimeout("$('.flash_msgs').fadeOut(2000)", 5000)

